.content__main > .content__mainLeft {
	padding-top: 100px;
	padding-left: 40px;
	width: 400px;
}

.content__main > .content__mainLeft > h1 {
	font-size: 50px;
	color: white;
}

.content__main > .content__mainLeft > p {
	font-size: 20px;
	color: white;
}

.content__main > .content__mainLeft > a > button {
	margin-top: 30px;
	cursor: pointer;
	padding: 12px 22px;
	background-color: #f9a51a;
	border-radius: 6px;
	border: none;
}
.content__main > .content__mainLeft > a {
	text-decoration: none;
	color: black;
}
.content__main {
	display: flex;
	justify-content: space-evenly;
}

.content__mainRight {
	margin-top: 115px;
	display: flex;
}
