.app {
	height: 100%;
}

.app__bg {
	background-image: linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url("./images/Image//Rectangle\ 1.png");

	/* Full height */
	height: 617px;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
